p{
    font-weight: bold;
    font-size: 120%;
}
input{
    width: 180px;
    height: 30px;
}
h1{
    color: rgb(255, 170, 41);
}

button{
    width: 180px;
    height: 30px;
    background-color: rgb(255, 204, 127);
}

#cuentaRegresiva{
    border: 1px;
    border-style: solid;
    color: red;
    border-color: red;
}